.card-view {
  display: flex;
  flex-wrap: wrap;

  .card-view-info {
    flex-grow: 1;
    padding: 5px;
  }

  .card-view-scan {
    flex-grow: 1;
    padding: 5px;
  }

  .card-view-price-history {
    padding: 5px;
    width: 100%;
  }
}