.pagination {
  display: block;
  margin: 20px 0;
  text-align: center;

  .pagination-description {
    display: inline;
    font-weight: bold;
    margin-right: 5px;
  }

  .pagination-list {
    text-align: center;
    display: inline;
    list-style: none;
    padding: 0;

    .pagination-list-item {
      cursor: pointer;
      display: inline-block;
      padding: 5px 10px;
      margin: 0 2px;

      &:hover {
        background-color: #EEE;
      }

      &.mod-active {
        background-color: #333;
        color: #EEE;
      }
    }
  }
}

