$green-neutral: #2ecc71;
$green-dark: #27ae60;

$blue-neutral: #3498db;
$blue-dark: #2980b9;

$red-neutral: #e74c3c;
$red-dark: #c0392b;

$orange-neutral: #e67e22;
$orange-dark: #d35400;

$default-neutral: #34495e;
$default-dark: #2c3e50;

$white-neutral: #ecf0f1;
$white-dark: #bdc3c7;

$gray-neutral: #95a5a6;
$gray-dark: #7f8c8d;
