.u-mr-5 { margin-right: 5px; }
.u-mr-10 { margin-right: 10px; }

.u-ml-5 { margin-left: 5px; }
.u-ml-10 { margin-left: 10px; }

.u-mt-5 { margin-top: 5px; }
.u-mt-10 { margin-top: 10px; }

.u-va-middle { vertical-align: middle; }

// Text color
.u-text-red { color: #A00; }
.u-text-green { color: #0A0; }
